# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/components/Auth
src/components/BookContainer
src/components/Cart
src/components/Profile
src/pages/AuthRoutes.tsx
src/pages/ForgotPassword.tsx
src/pages/MyOrders.tsx
src/pages/OrderConfirmation.tsx
src/pages/Profile.tsx




