# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src/components/BookDetails
/src/components/BookContainer
/src/components/Cart
/src/components/same
/src/pages/BookPage.tsx
/src/pages/BookPage.tsx
/src/pages/Home.tsx
/src/pages/MyOrder.tsx
/src/pages/OrderConfirm.tsx
/src/pages/UserProfile.tsx
/src/pages/WishList.tsx
/src/pages/Cart.tsx
/src/redux
