# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/__tests__/AddressDetails.test.tsx
src/__tests__/AddressForm.test.tsx
src/__tests__/AddressList.test.tsx
src/__tests__/Authroutes.test.tsx
src/__tests__/Authtemplate.test.tsx
src/__tests__/BookDetails.test.tsx
src/__tests__/BookLongCard.test.tsx
src/__tests__/BookPage.test.tsx
src/__tests__/BookSlice.test.tsx
src/__tests__/Breadcrumbs.test.tsx
src/__tests__/CartSlice.test.tsx
src/__tests__/FeedbackForm.test.tsx
src/__tests__/Footer.test.tsx
src/__tests__/OrderConfirmation.test.tsx
src/__tests__/OrderSlice.test.tsx
src/__tests__/ProfileDropdown.test.tsx
src/__tests__/ProfileEditForm.test.tsx
src/__tests__/WishList.test.tsx
src/__tests__/WishListSlice.test.tsx




